@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #222;
  color: white;
  height: 100vh;
}

body div::-webkit-scrollbar {
  width: 8px;
}

body div::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* color of the tracking area */
}

body div::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 68); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
