@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1924;
  color: #e1e1e6;
  height: 100vh;
}

body div::-webkit-scrollbar {
  width: 3px;
}

body div::-webkit-scrollbar-track {
  background: rgb(0, 0, 0); /* color of the tracking area */
}

body div::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 68); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.send {
  margin: 2px;
  /* text-align: end; */
  float: right;
}

.received {
  margin: 2px;
  /* text-align: start; */
  float: left;
}

.msg {
  height: auto;
  max-width: 90%;
  width: fit-content;
  word-break: break-all;
  padding: 10px 30px;
  margin: 15px;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  /* background-color: #4c2c91; */
  border-radius: 10px;
  animation-name: show;
  animation-duration: 0.2s;
}

.show {
  animation-name: show;
  animation-duration: 0.2s;
}

@keyframes show {
  0% {
    transform: scale(0.1);
  }
  30% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
